<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.jk.dao.LzgDao" >

    <select id="getItemById"  parameterType="java.lang.Integer" resultType="com.jk.pojo.Goods">

        SELECT * FROM pyg_goods WHERE goodsid = #{itemId}

    </select>


</mapper>