<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- mybatis框架只有接口 没有实现类
     mybatis的映射文件就相当于是接口的实现类
               主要用来编写sql语句
     mapper 需要与映射接口对应
     namespace 配置类的全限定名
 -->
<mapper namespace="com.jk.dao.StuDao" >
  
    <select id="queryStu" resultType="java.util.Map">

        select * from user
    </select>

    <select id="queryOrder" parameterType="java.lang.Integer" resultType="java.util.Map">
        SELECT * FROM pyg_orderform po,pyg_goods pg,pyg_customer pc,user u WHERE po.goodsid=pg.goodsid
        AND po.customerId = pc.customerId AND pc.userid=u.userid
        <if test="orderFormState!=null">
            AND orderFormState = #{orderFormState}
        </if>
        AND  orderFormState>0
        AND  u.userid=#{userid}
    </select>

    <update id="tuiOrder" >
        UPDATE pyg_orderform
SET
  orderFormState = 5,


  orderUpdateTime = #{date}

WHERE orderFormId = #{orderFormId};
    </update>
    <update id="shouOrder">
        UPDATE pyg_orderform
SET
  orderFormState = 3,


  orderUpdateTime = #{date}

WHERE orderFormId = #{orderFormId};
    </update>
    <delete id="delOrder" parameterType="java.lang.Integer">
        DELETE
FROM pyg_orderform
WHERE orderFormId = #{orderFormId};
    </delete>

</mapper>